#summary-institution {
    visibility: hidden;
    display: none;
}

#summary-domain {
    visibility: hidden;
    display: none;
}

#summary-type {
    visibility: visible;
    display: block;
}

.summary-columns {
    display: flex;
}

.summary-columns> :last-child {
    width: 60%;
}

.summary-columns a,
.summary-columns img {
    width: 100%;
    max-width: 100%;
}

.summary-columns img {
    border: 2px solid #336299;
}